/*!
 * Copyright: Mystic Code
 * https://www.mysticcode.com.np
 * Support:  https://www.mysticcode.com.np/contact
 * Contact: info@mysticode.com.np
 */
.slider-wrapper {
  width: 100%;
  height: 350px;
  margin: 0 auto 30px;
  background: #000;
  overflow: hidden;
  position: relative; }

.inner-wrapper {
  width: 600%;
  height: 100%;
  position: relative;
  left: -100%; }

.slide {
  width: -webkit-calc(100%/6);
  width: calc(100%/6);
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 100px;
  font-weight: 700;
  float: left; }

.slide .img-wrap {
  width: 100%;
  height: 100%; }

.slide .img-wrap img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.slider-wrapper .button {
  width: 30px;
  height: 30px;
  border-top: 2px solid #fff;
  position: absolute;
  cursor: pointer; }

.prev {
  border-left: 2px solid #fff;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg); }

.next {
  border-right: 2px solid #fff;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg); }

/* info section */
.info {
  width: 95%;
  margin: 100px auto 50px;
  position: relative; }

.info::before {
  content: 'What we do?';
  display: block;
  position: absolute;
  /* width:120px; */
  background-color: #d4f8f3;
  color: #04a88d;
  opacity: 0.7;
  padding: 8px 15px;
  text-align: center;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 11px; }

.info .frontmessage {
  width: 50%;
  margin: auto; }

.frontmessage h1 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 70px; }

.info-holder {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.info-holder .info-items {
  width: 30%;
  text-align: center;
  position: relative; }
  @media (max-width: 992px) {
    .info-holder .info-items {
      width: 50%;
      margin: 0 auto 20px; } }
  @media (max-width: 768px) {
    .info-holder .info-items {
      width: 60%; } }

.info-items .info-img {
  position: relative;
  display: block;
  height: 80px;
  margin-bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.info-items span {
  padding: 40px;
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.info-img .fa {
  font-size: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 80%);
  -ms-transform: translate(-50%, 80%);
  transform: translate(-50%, 80%); }

.info-holder .a {
  background-color: #fbe0de; }

.info-img .fa-users {
  color: red;
  opacity: .7; }

.info-img .fa-fire {
  color: blue;
  opacity: .7; }

.info-img .fa-cogs {
  color: #00c9a7;
  opacity: .7; }

.info-holder .b {
  background-color: #dbe7fc;
  color: blue; }

.info-holder .c {
  background-color: #d4f7f2;
  color: green; }

.info-items h3 {
  font-size: 22px;
  font-weight: 400; }

.info-items p {
  padding: 20px 0;
  font-size: 16px; }

.info .img-wrap {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0; }

.why-us {
  position: relative;
  padding-bottom: 70px; }

.why-us .container {
  text-align: center; }

.why-us .container h3 {
  width: 45%;
  margin: auto;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 50px; }

.container h3 span {
  font-weight: 500; }

.container .wrap-hello {
  width: 60%;
  margin: auto;
  margin-bottom: 40px; }

.wrap-hello img {
  width: 100%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 8px #e8eff7a1;
  box-shadow: 3px 3px 8px #e8eff7a1; }

.why-us .container p {
  width: 30%;
  margin: auto;
  color: var(--text-color);
  font-size: 13px; }

.branded {
  border-bottom: none !important; }
  .branded .brand-mobile {
    margin-bottom: 0 !important; }

.remove-mb .brand-mobile {
  margin-bottom: 0 !important; }

.remove-bb {
  border-bottom: none !important; }

.brand-mobile-collection.samsung .brand-mobile, .brand-mobile-collection.oneplus .brand-mobile, .brand-mobile-collection.iphone .brand-mobile {
  margin-bottom: 40px; }

.brand-holder .brand-name {
  margin-bottom: 15px; }
  .brand-holder .brand-name h2 {
    position: relative;
    font-weight: 400;
    padding-bottom: 5px;
    text-align: right; }
    .brand-holder .brand-name h2:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -10px;
      right: 0;
      width: 300px;
      height: 10px;
      background-color: #167474;
      -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%); }

.brand-holder .trending {
  font-weight: 400; }

.content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 25px 0 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .content-wrapper .phone-image-holder {
    width: 33%;
    padding: 15px 20px; }
    @media (max-width: 1024px) {
      .content-wrapper .phone-image-holder {
        width: 60%;
        margin: 0 auto 30px; } }
    .content-wrapper .phone-image-holder img {
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
    .content-wrapper .phone-image-holder .main-image-holder {
      width: 60%;
      margin: 0 auto 15px;
      height: 475px; }
      .content-wrapper .phone-image-holder .main-image-holder:hover {
        cursor: pointer; }
    .content-wrapper .phone-image-holder .sub-image-holder {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .content-wrapper .phone-image-holder .sub-image-holder .sub-images {
        height: 80px;
        padding: 10px;
        border: 1px solid rgba(220, 220, 220, 0.8);
        width: -webkit-calc(25% - 10px);
        width: calc(25% - 10px);
        margin: 0 5px; }
        .content-wrapper .phone-image-holder .sub-image-holder .sub-images:hover {
          cursor: pointer; }
  .content-wrapper .details {
    width: 45%;
    padding: 0 15px; }
    @media (max-width: 1024px) {
      .content-wrapper .details {
        width: 70%; } }
    .content-wrapper .details h2 {
      font-weight: 400;
      padding-bottom: 5px; }
    .content-wrapper .details .rate-price {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #d0d0d0; }
      .content-wrapper .details .rate-price span {
        font-size: 14px;
        letter-spacing: 0.5px; }
      .content-wrapper .details .rate-price #amount {
        font-weight: bold; }
    .content-wrapper .details .options {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #d0d0d0; }
      .content-wrapper .details .options h3 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px; }
    .content-wrapper .details .product-details h4 {
      font-weight: 400;
      margin-bottom: 10px; }
    .content-wrapper .details .product-details .details-collection ul {
      list-style: none; }
      .content-wrapper .details .product-details .details-collection ul li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
        text-align: justify; }
        .content-wrapper .details .product-details .details-collection ul li:after {
          content: "\f067";
          font-family: "FontAwesome";
          position: absolute;
          left: 0;
          top: 5px;
          font-size: 12px;
          color: #6b6b6b; }
  .content-wrapper .purchase-section {
    width: 20%; }
    @media (max-width: 1024px) {
      .content-wrapper .purchase-section {
        width: 28%; } }
    .content-wrapper .purchase-section > div {
      margin-bottom: 10px; }
    .content-wrapper .purchase-section button:hover,
    .content-wrapper .purchase-section button:focus {
      outline: none;
      border: none;
      cursor: pointer; }
    .content-wrapper .purchase-section .delivery {
      padding: 10px 15px;
      background: #fafafa; }
    .content-wrapper .purchase-section .delivery-title,
    .content-wrapper .purchase-section .return-warranty-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 10px;
      border-bottom: 1px solid #d4d4d4;
      padding-bottom: 10px; }
      .content-wrapper .purchase-section .delivery-title span,
      .content-wrapper .purchase-section .return-warranty-title span {
        font-weight: 600;
        font-size: 12px !important;
        color: #757575; }
    .content-wrapper .purchase-section .delivery-content span {
      font-size: 15px; }
    .content-wrapper .purchase-section .delivery-content .fa:hover {
      cursor: pointer; }
    .content-wrapper .purchase-section .cart-purchase > button {
      display: block;
      margin: 0 auto 10px; }
    .content-wrapper .purchase-section .cart-purchase .quantity {
      padding: 10px;
      background: #fafafa;
      margin-bottom: 10px; }
    .content-wrapper .purchase-section .cart-purchase .quantity-title {
      margin-bottom: 10px;
      border-bottom: 1px solid #d4d4d4;
      padding-bottom: 10px; }
      .content-wrapper .purchase-section .cart-purchase .quantity-title span {
        font-weight: 600;
        font-size: 12px !important;
        color: #757575; }
    .content-wrapper .purchase-section .cart-purchase .quantity-change {
      width: 100%;
      padding: 5px 15px;
      margin: 0 auto 10px; }
      .content-wrapper .purchase-section .cart-purchase .quantity-change button {
        height: 40px;
        padding: 0 8px;
        outline: none;
        border: none;
        position: absolute;
        display: inline-block;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .content-wrapper .purchase-section .cart-purchase .quantity-change button.sub {
          left: -35px; }
        .content-wrapper .purchase-section .cart-purchase .quantity-change button.add {
          right: -35px; }
      .content-wrapper .purchase-section .cart-purchase .quantity-change .value-box {
        height: 50px;
        width: 120px;
        margin: 0 auto;
        position: relative; }
        .content-wrapper .purchase-section .cart-purchase .quantity-change .value-box input {
          width: 100%;
          height: 100%;
          border: none;
          text-align: center;
          -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2); }
    .content-wrapper .purchase-section .cart-purchase .total {
      font-size: 14px; }
      .content-wrapper .purchase-section .cart-purchase .total > span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
    .content-wrapper .purchase-section .cart-purchase #total-cost {
      font-weight: bold; }

.related-mobile-collection {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 15px 30px; }
  .related-mobile-collection .related-title {
    margin-bottom: 15px; }
    .related-mobile-collection .related-title h2 {
      position: relative;
      font-weight: 400;
      padding-bottom: 5px;
      text-align: right; }
      .related-mobile-collection .related-title h2:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -10px;
        right: 0;
        width: 300px;
        height: 10px;
        background-color: #167474;
        -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%); }

#register-content-holder {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#005151), color-stop(#518e8e), to(transparent));
  background-image: -webkit-linear-gradient(top, #005151, #518e8e, transparent);
  background-image: -o-linear-gradient(top, #005151, #518e8e, transparent);
  background-image: linear-gradient(to bottom, #005151, #518e8e, transparent); }
  #register-content-holder .left-content {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 0;
    height: 75%;
    background: #fff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin-left: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden; }
  #register-content-holder .right-content {
    position: absolute;
    width: -webkit-calc(100% - (75% + 20px));
    width: calc(100% - (75% + 20px));
    height: 55%;
    background-color: #fff;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    padding: 20px 15px;
    -webkit-border-radius: 20px;
    border-radius: 20px; }

@media (max-width: 1200px) {
  .left-content {
    width: 70% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important; } }

.left-content .promotional-content {
  width: 40%;
  height: 100%;
  background: url(https://news.mit.edu/sites/mit.edu.newsoffice/files/images/MIT-Evaluating-Performance_0-2.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  color: #fff;
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.left-content form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-calc(100% - (40% + 30px));
  width: calc(100% - (40% + 30px));
  padding: 20px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .left-content form .input-group {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 15px; }
    .left-content form .input-group label {
      margin-bottom: 10px;
      position: relative;
      padding: 0 10px 0 20px; }
      .left-content form .input-group label span {
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .left-content form .input-group input {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      font-size: 14px;
      line-height: normal;
      padding: 0 10px;
      background: #fbfbff;
      border: none;
      height: 30px;
      padding: 0 15px; }
    .left-content form .input-group .info-text {
      font-size: 12px;
      margin: 5px 0 0; }
      .left-content form .input-group .info-text.ml-auto {
        margin-left: auto; }
  .left-content form .sign {
    width: auto;
    margin: 20px auto 0;
    border: none;
    background: #007bff;
    padding: 10px 20px;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700; }

@media (max-width: 1200px) {
  .right-content {
    display: none; } }

.right-content .holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  .right-content .holder .brand {
    width: -webkit-calc(70% - 35px);
    width: calc(70% - 35px);
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    margin-right: 35px;
    position: relative; }
    .right-content .holder .brand:after {
      content: "";
      display: block;
      position: absolute;
      right: -17.5px;
      top: 50%;
      width: 1px;
      height: 70%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: #000; }
  .right-content .holder .description {
    width: 30%; }

.holder .brand-logo {
  height: 70px;
  width: 60px; }
  .holder .brand-logo img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain; }

.holder .brand-name h1 {
  font-weight: 400; }

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #d3d3d3;
  box-shadow: inset 0 0 5px #d3d3d3;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #134343;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

body {
  font-family: "Open Sans", sans-serif; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.full-container {
  width: 100%;
  padding: 0 40px; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #000; }
  a:link, a:visited {
    color: #000; }

input {
  outline: none; }

button:focus,
button:hover {
  outline: none;
  border: none;
  cursor: pointer; }

.display-nav {
  display: block !important;
  position: absolute;
  z-index: 40; }

header {
  position: relative;
  padding: 15px 0;
  background: #fff;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  nav ul {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    nav ul li {
      position: relative;
      padding: 0 15px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400; }
      nav ul li:last-of-type {
        margin-right: 0; }
      nav ul li:first-of-type {
        margin-left: 0; }
      nav ul li.active:after {
        content: "";
        position: absolute;
        display: block;
        width: -webkit-calc(100%);
        width: calc(100%);
        height: 2px;
        background-color: #167474;
        bottom: -10px;
        left: 0; }
        @media (max-width: 992px) {
          nav ul li.active:after {
            display: none; } }
  nav .hamburger {
    position: relative;
    height: 26px;
    display: none; }
    @media (max-width: 992px) {
      nav .hamburger {
        display: block; } }
  nav .hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
    position: relative; }
  nav .hamburger span:not {
    content: "";
    width: 100%;
    height: 2px;
    background: inherit;
    position: absolute;
    left: 0; }
  nav .hamburger span:nth-child(2) {
    top: 10px; }
  nav .hamburger span:nth-child(3) {
    top: 20px; }
  nav .search-field-responsive {
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px);
    position: relative;
    display: none; }
    @media (max-width: 992px) {
      nav .search-field-responsive {
        display: block !important; } }
  nav .search-field-responsive input {
    height: 45px;
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4); }
  nav .search-field-responsive .fa {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.6); }
    nav .search-field-responsive .fa:hover {
      cursor: pointer; }
  @media (max-width: 992px) {
    nav .nav-list {
      position: absolute;
      width: -webkit-calc(100% - 30px) !important;
      width: calc(100% - 30px) !important;
      left: 15px;
      top: -webkit-calc(100% + 14px);
      top: calc(100% + 14px);
      background: #fff;
      -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
      display: none;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      nav .nav-list .navbar li {
        width: 100%;
        padding: 10px 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.4);
        text-align: center; }
      nav .nav-list .navbar li:first-child {
        border: none; }
      nav .nav-list .navbar li:last-child {
        display: none; } }

.brand {
  width: auto; }
  .brand .home-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .brand .brand-logo {
    width: 25px;
    height: auto;
    margin-right: 10px; }
  .brand .brand-name {
    font-family: "Open Sans", sans-serif; }
    .brand .brand-name h1 {
      font-weight: 400; }

nav .search-field-responsive {
  display: none; }

nav .nav-list {
  width: -webkit-calc(100% - 165px);
  width: calc(100% - 165px); }
  nav .nav-list form .search {
    padding: 5px 8px;
    height: 25px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-right: 8px;
    font-weight: 300;
    font-size: 14px; }

footer {
  width: 100%;
  border-top: 1px solid #d0d0d0; }

.footer-content {
  text-align: center;
  padding: 15px 0; }
  .footer-content .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px; }
    .footer-content .brand .home-link {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
  .footer-content .brand-name h1 {
    font-size: 22px; }
  .footer-content .copyright {
    font-size: 12px;
    font-weight: 400; }

.brand-mobile-collection {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0 30px;
  padding: 20px 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 2px solid #f1f1f1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .brand-mobile-collection .brand-mobile {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 230px;
    -ms-flex: 0 1 230px;
    flex: 0 1 230px;
    border: 1px solid #f1f1f1;
    padding: 10px 0 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    @media (max-width: 1024px) {
      .brand-mobile-collection .brand-mobile {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 200px;
        -ms-flex: 0 1 200px;
        flex: 0 1 200px;
        margin: 0 20px 50px !important; } }
    @media (max-width: 768px) {
      .brand-mobile-collection .brand-mobile {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 300px;
        -ms-flex: 0 1 300px;
        flex: 0 1 300px; } }
    .brand-mobile-collection .brand-mobile:hover {
      cursor: pointer;
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
      border: 1px solid rgba(0, 0, 0, 0);
      -webkit-box-shadow: 2px 2px 4px rgba(220, 220, 220, 0.8);
      box-shadow: 2px 2px 4px rgba(220, 220, 220, 0.8); }

.brand-mobile .img-wrapper {
  height: 228px; }
  .brand-mobile .img-wrapper img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%; }

.mobile-details {
  padding: 10px; }
  .mobile-details .mobile-model {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px; }
  .mobile-details .brand-pricing {
    font-size: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .mobile-details .brand-pricing .mobile-pricing {
      font-size: 14px; }

#alert-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none; }

#alert-holder {
  width: 100%;
  height: auto;
  display: none;
  max-width: 500px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 15px 30px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center; }
  #alert-holder .cart-item {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #alert-holder .cart-item h1 {
      font-weight: 400;
      font-size: 20px; }
  #alert-holder .img-wrap {
    height: 55px;
    width: 60px; }
    #alert-holder .img-wrap img {
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  #alert-holder .cart-item-quantity-cost {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
  #alert-holder .button-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.goBack {
  position: relative;
  padding: 0 18px;
  font-size: 14px; }
  .goBack:before {
    content: "\f053";
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 100; }

@media (max-width: 1200px) {
  .fix-sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media (max-width: 1200px) {
  .fix-sm .brand-mobile {
    margin: 0 20px 50px !important; } }

.rating .fa-star.rated {
  color: #ffce00; }

.faded {
  color: #b0b0b0; }

.icon-holder {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  margin-bottom: 15px; }
  .icon-holder:after {
    position: absolute;
    font-family: "FontAwesome";
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    color: #757575; }

.location:after {
  content: "\f041"; }

.cash:after {
  content: "\f0d6"; }

.home:after {
  content: "\f015"; }

.return:after {
  content: "\f021"; }

.warranty:after {
  content: "\f132"; }

.btn {
  padding: 15px 50px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 10px;
  color: white; }

.about-section {
  margin: 0 50px; }

.banner {
  position: relative;
  height: 400px; }
  .banner img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .banner .commitment {
    position: absolute;
    width: 360px;
    left: 50px;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff; }
    .banner .commitment h1 {
      font-weight: 400;
      font-size: 30px;
      line-height: 1;
      margin-bottom: 15px; }
    .banner .commitment p {
      margin-bottom: 10px; }
    .banner .commitment a {
      color: #fff;
      text-decoration: underline; }

.about {
  padding: 30px 0px 0; }
  .about .about-title {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px; }
    .about .about-title span {
      position: relative;
      font-weight: 400; }
      .about .about-title span:before {
        content: "";
        position: absolute;
        top: 50%;
        right: -webkit-calc(100% + 15px);
        right: calc(100% + 15px);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100px;
        height: 1px;
        background: #000; }
      .about .about-title span:after {
        content: "";
        position: absolute;
        top: 50%;
        left: -webkit-calc(100% + 15px);
        left: calc(100% + 15px);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100px;
        height: 1px;
        background: #000; }
  .about h3 {
    font-size: 60px;
    font-weight: 400;
    color: #879596; }

@media (max-width: 1024px) {
  .mission-holder {
    padding: 30px 0; } }

.anywhere-holder {
  background: #f5f5f5;
  padding: 30px 0; }

.mission,
.anywhere {
  padding: 0 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .mission .mission-content,
  .mission .anywhere-content,
  .anywhere .mission-content,
  .anywhere .anywhere-content {
    width: 41%;
    text-align: justify; }
    @media (max-width: 768px) {
      .mission .mission-content,
      .mission .anywhere-content,
      .anywhere .mission-content,
      .anywhere .anywhere-content {
        width: 100%; } }
    .mission .mission-content .divider,
    .mission .anywhere-content .divider,
    .anywhere .mission-content .divider,
    .anywhere .anywhere-content .divider {
      width: 100px;
      height: 2px;
      display: block;
      margin: 40px 0;
      background-color: #167474; }
    .mission .mission-content .mission-text p,
    .mission .mission-content .anywhere-text p,
    .mission .anywhere-content .mission-text p,
    .mission .anywhere-content .anywhere-text p,
    .anywhere .mission-content .mission-text p,
    .anywhere .mission-content .anywhere-text p,
    .anywhere .anywhere-content .mission-text p,
    .anywhere .anywhere-content .anywhere-text p {
      margin-bottom: 20px;
      color: #747272;
      font-size: 16px; }
  .mission .img-wrap,
  .anywhere .img-wrap {
    width: 41%; }
    @media (max-width: 768px) {
      .mission .img-wrap,
      .anywhere .img-wrap {
        width: 65%;
        margin: auto; } }

.contact-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.map {
  width: 65%; }
  @media (max-width: 992px) {
    .map {
      width: 90%;
      margin: 0 auto 30px; } }

.contact-info {
  width: -webkit-calc(100% - (70% + 40px));
  width: calc(100% - (70% + 40px)); }
  @media (max-width: 992px) {
    .contact-info {
      width: 90%;
      margin: auto; } }
  .contact-info h2 {
    margin-bottom: 20px; }
  .contact-info p {
    margin-bottom: 10px;
    text-align: justify; }
    @media (max-width: 992px) {
      .contact-info p {
        margin-bottom: 20px; } }
  .contact-info span {
    display: block; }
    @media (max-width: 992px) {
      .contact-info span {
        text-align: right; } }
